<ion-header>
  <ion-toolbar>
    <ion-title>Consultar Repuesto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="sku" placeholder="Ingrese SKU"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="consultar()">Consultar</ion-button>

  <ion-card *ngIf="repuesto">
    <ion-card-header>
      {{ repuesto.nombre }}
    </ion-card-header>
    <ion-card-content>
      SKU: {{ repuesto.sku }}<br>
      Stock: {{ repuesto.stock }}
    </ion-card-content>
  </ion-card>
</ion-content>