<ion-header>
  <ion-toolbar>
    <ion-title>Reservar Repuesto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input type="number" [(ngModel)]="sku" placeholder="SKU"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" [(ngModel)]="cantidad" placeholder="Cantidad"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="reservar()">Reservar</ion-button>
  
  <ion-card *ngIf="resultado">
    <ion-card-content>
      {{ resultado }}
    </ion-card-content>
  </ion-card>
</ion-content>